<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <!--{{std}} -->
    <h1> {{std}}</h1>
    {% if std%}

    <table border="2p">
        <tr>
            <th> id</th>
            <th> Student_id</th>
            <th> Student_Name</th>
            <th> Student_email</th>
            <th> Batch</th>
            <th> Course</th>
        </tr>
        {% for s in std%}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.student_id}}</td>
            <td>{{s.student_name}}</td>
            <td>{{s.student_email}}</td>
            <td>{{s.batch}}</td>
            <td>{{s.course}}</td>
        {% endfor %}
            
        </tr>
    </table>

    <h1> Student dat</h1>
    {% else%}
    <h2> Empty data</h2>
    {% endif%}

</body>
</html>